body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 20px;
}

a {
  color: #00B7FF;
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.flag {
  width: 20px;
  margin-right: 5px;

}